.kvov{
    display:block;
    padding-left:20px;
    margin-left:-20px;
    position:relative;
}
.collapsed{
    white-space:nowrap
}
.collapsed>.blockInner{
    display:none
}
.collapsed>.ell:after{
    content:"…";
    font-weight:bold
}
.collapsed>.ell{
    margin:0 4px;
    color:#888
}
.collapsed .kvov{
    display:inline
}
.e{
    width:20px;
    height:18px;
    display:block;
    position:absolute;
    left:-2px;
    top:1px;
    z-index:5;
    background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAD1JREFUeNpiYGBgOADE%2F3Hgw0DM4IRHgSsDFOzFInmMAQnY49ONzZRjDFiADT7dMLALiE8y4AGW6LoBAgwAuIkf%2F%2FB7O9sAAAAASUVORK5CYII%3D");
    background-repeat:no-repeat;
    background-position:center center;
    display:block;
    opacity:0.15
}
.collapsed>.e{
    -webkit-transform:rotate(-90deg);
    width:18px;
    height:20px;
    left:0px;
    top:0px
}
.e:hover{
    opacity:0.35
}
.e:active{
    opacity:0.5
}
.collapsed .kvov .e{
    display:none
}
.blockInner{
    display:block;
    padding-left:24px;
    border-left:1px dotted #bbb;
    margin-left:2px
}
.b{
    /* font-weight:bold */
}
.s{
    color:#0B7500;
    word-wrap:break-word
}
a:link,a:visited{
    text-decoration:none;
    color:inherit
}
a:hover,a:active{
    text-decoration:underline;
    color:#050
}
.bl,.nl,.n{
    font-weight:bold;
    color:#1A01CC
}
/* .k{
    color:#000
} */
