html, body {
  font-family: 'Whitney SSm A','Whitney SSm B','Helvetica Neue',Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #4c555a;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --content-width: 64rem;
  --content-gutter: 7rem;
  --content-inner-width: calc(var(--content-width) - 2 * var(--content-gutter));

  --gray-text-dark: #4c555a;
  --gray-text-medium: #939da3;
  --gray-text-light: #bebebe;
  --gray-code-black: #272b2d;
  --gray-code-dark: #2d3134;
  --gray-border: #e1e8ed;
  --gray-background: #FBFBFB;
  --background-code: #f9fafa;
  --background-gray2: #f7f8f9;
  --blue: #2da0e5;
  --green: #43b290;
  --top-nav: 53px;
}

.source-code-ref a {
  color: #43b290;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.5;
}

.source-code-ref .commit {
  color: #cacaca;
  font-size: 0.75rem;
}

h1 {
  font-size: 2.625rem;
  font-weight: 300;
  line-height: 1.1;
  margin: 0 0 0.5rem;
  /* padding: 2rem 0 1.5rem; */

  /* letter-spacing: -1.5px; */
}

h2, h3 {
  color: #414040;
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 1.3;
  /* letter-spacing: -1px; */
  /* padding: 1.4rem 0 3.5rem 0; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin: 2rem 0 1.5rem 0;
  padding: 0;
  padding-bottom: 1rem;
}

h3 {
  font-size: 1.4375rem;
  font-weight: 400;
  border-bottom: none;
  color: #272B2D;
  /* letter-spacing: -1.5px; */
  padding-bottom: 0;
}

p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
}

ul {
  font-size: 1rem;
  padding-left: 1.2em;
  line-height: 1.6;
}

ul > li > p {
  margin: 0;
}

#overview-try-now .container {
  margin: 0 auto;
  width: var(--content-inner-width);
}

#overview-try-now {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  max-width: unset;

  background-color: hsl(200, 20%, 97%);
  border-top: 1px solid hsla(0, 0%, 0%, 0.1);
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 2.5em;
  margin-top: 1.5em;
}

#overview-try-now h2 {
  display: none;
}

section {
  padding: 0 var(--content-gutter);
  max-width: var(--content-width);
  box-sizing: border-box;
  margin: 0 auto 4rem auto;
}

section h2, section h3 {
  font-size: 1.4375rem;
  font-weight: 400;
  color: #272B2D;
}

section .method-copy img {
  height: 0.8em;
  vertical-align: text-bottom;
  margin: 0.2ex;
}

section h4 {
  font-size: 1rem;
  color: #2da0e5;
  border: none;

  text-transform: lowercase;
  font-variant: small-caps;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.method-list-item-label {
  float: left;
}

.method-list-item-label,
.method-list-item-description {
  font-size: 0.875rem;
  line-height: 1.4;
}

.method-list-group {
  padding: 0;
}

.method-list-item {
  border-bottom: 1px solid #f0f4f7;
}

.method-list-item {
  margin: 0;
  padding: 1.2rem 0 2.2rem 0;
  list-style: none;
}

.method-list-item.has-example {
  padding-bottom: 0.8rem;
}

.method-list.inputs h4::before {
  content: "arguments";
}

.method-list.outputs h4::before {
  content: "output";
}

.method-list-item-label {
  margin: 0;
  position: relative;
  text-align: right;
  width: 10rem;
}

.method-list-item-label-details {
  display: block;
  font-size: 0.75rem;
  color: #939da3;
  font-weight: 540;
  /*line-height: 2;*/
  margin-top: 0.3rem;
}

.method-list-item-description {
  font-weight: 400;
  line-height: 1.5;
  font-size: 0.875rem;
  margin-left: 12rem;
  margin-bottom: 0;
  margin-top: 0;
}

.tabs-code {
  text-align: right;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.tabs-code>nav {
  font-size: 0;
}

.tabs-code>nav a {
  font-size: 13px;
  color: #373e42;
  font-weight: 500;
  display: inline-block;
  padding: 0 8px 0 7px;
  text-decoration: none;
  cursor: pointer
}
.tabs-code>nav a:last-of-type {
  padding-right: 0;
}

.tabs-code>nav a:active {
  color: #2f3538
}

.tabs-code>nav a.selected {
  color: #0099e5
}

.method-list-group {
  margin-bottom: 1rem;
  margin-top: 0;
}

.method-example {
  position: relative;
  margin: 0;
  padding-top: 0;
}

.method-example:not(:last-of-type) {
  margin-bottom: 2rem;
}

.language-python {
  font-family: "Source Code Pro",Menlo,monospace;
  background-color: transparent;
}

.method-example pre {
  display: block;
  /* color: #d0d0d0; */
  white-space: pre-wrap;
  word-break: break-word;
  background-color: #f7f8f9;
  border-radius: 5px;
  line-height: 1.5;
  font-family: "Source Code Pro",Menlo,monospace;
  margin: 0;
  padding: 1.25rem 4rem;
  font-size: 0.875rem;
}

.method-example code, #formattedJson, .method-example .line-numbers-rows {
  line-height: 1.5;
  font-family: "Source Code Pro",Menlo,monospace;
  font-size: 0.875rem;
}

.method-example code a {
  text-decoration: none;
  color: #666;
}

/* NAVIGATION */
header {
  position: fixed;
  width: 100%;
  z-index: 10000000;
  top: 0;

}
nav.topnav {
  background: linear-gradient(180deg, var(--gray-code-dark) 0%, var(--gray-code-black) 100%);
  padding: .2em 2em;
  color: var(--gray-text-light);
}

li.nav-brand {
  margin-top: 7px;
}

ul.list-inline {
  list-style: none;
  display: inline-block;
  width: 100%;
  padding: 0;
  margin-top: .5em;
  margin-bottom: .5em;
}

.list-inline li {
  display: inline;
  padding: 0 1em;
  letter-spacing: -.25px;
  font-size: .9rem;
}

.list-inline li>a {
  color: var(--gray-text-light);
  text-decoration: none;
}
.list-inline li>a:hover,
.list-inline li>a:focus,
.list-inline li>a:active {
  color: var(--green);
  -webkit-transition: color .6s;
  -moz-transition: color .6s;
  -o-transition: color .6s;
  transition: color .6s;
}

li.nav-brand {
  display: inline-block;
  float: left;
  margin-top: 3px;
}

.nav-right {
  text-align: right;
}

/* ADD */
.topnav {
  overflow: hidden;
}

.topnav .icon {
  display: none;
}

nav select {
  height: 2rem;
  width: 10rem;
  background: transparent;
  color: var(--gray-text-light);  letter-spacing: -.25px;
  font-size: .9rem;
  font-family: inherit;
  overflow: hidden;
  border: .05rem solid #60606085;
}
nav select:active,
nav select:focus {
  box-shadow: none;
  outline: none;
}

@media screen and (max-width: 48rem) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 1.5em;
    top: .75rem;
    font-size: 1.25rem;
  }
  .topnav .nav-item {
    display: none;
  }
  .topnav.responsive .nav-item {
    display: block;
    padding: .5em 1em;
  }
  .topnav.responsive li>a {
    display: block;
    text-align: left;
  }
  .topnav.responsive .list-inline .nav-item.top {
    padding-top:1.5em;
  }
}

.method-list-item-example {
  display: block;
  margin-top: 0.5rem;
  margin-left: 11.8rem;
  color: var(--gray-text-light);
  font-size: 4rem;
  line-height: 1;
  font-weight: 100;
}


@media screen and (max-width: 53rem) {
  :root {
    --content-width: 100%;
    --content-gutter: 4rem;
    --content-inner-width: calc(var(--content-width) - 2 * var(--content-gutter));
  }

  section {
    max-width: auto;
    width: 100%;
    position: relative;
    margin-right: 0;
    padding-bottom: 1em;
  }

  .method-list-item-example {
    margin-left: 0;
  }

  #documentation .method-example {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
  #documentation .method-example-part {
    padding: 0 0 1.875rem 0;
  }
  #documentation #background {
    left: 0;
    position: relative;
  }
  .method-list-item-label {
    padding-bottom: 1rem;
    width: 100%;
    text-align: left;
    position: relative;
  }
  .method-list-item-description {
    width: 100%;
    margin-left: 0;
  }
  .side-bar-text-wide {
    display: none;
  }
  .side-bar-text-narrow {
    display: inline;
  }
}

.method-example pre {
  border: 1px solid #e6e6e6;
}
.method-list-item {
  clear: both;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

/* TOP SECTION */

#head {
  max-width: var(--content-width);
  margin: auto;
  box-sizing: border-box;
  padding-left: var(--content-gutter);
  padding-right: var(--content-gutter);
  text-align: left;
  margin-bottom: 2rem;
  margin-top: var(--top-nav);
  padding-top: 5rem;
}

.method-copy {
  position: relative;
}

@media screen and (max-width: 53rem) {
  #head {
    margin: 0;
  }
  section {
    margin: 0;
  }
}
@media screen and (max-width: 48rem) {
  :root {
    --content-width: 100%;
    --content-gutter: 2rem;
    --content-inner-width: calc(var(--content-width) - 2 * var(--content-gutter));
  }

  .method-list-item-example {
    font-size: 3rem;
  }

  .clipboard-copy {
    display: none;
  }

  .method-example-code, #formattedJson {
    margin-left: calc(-1 * var(--content-gutter));
    margin-right: calc(-1 * var(--content-gutter));
  }

  .method-example pre {
    border-radius: 0;
  }

  #head {
    max-width: 100%;
  }
  #head h1,
  #head .source-code-ref {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 2rem;
  }
}

/* AUTHOR BLOCK */
#authorship {
  margin-top: 4rem;
}

.author {
  display: block;
  font-size: 1em;
  padding-top: 1em;
  line-height: 1.8;
}

.author-role {
  display: block;
}

/* APPENDIX */
#appendix {
  color: var(--gray-text-dark);
  background-color: var(--gray-background);
  border-top: 1px solid var(--gray-border);
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

/* CITATION STYLING */
.citation-number {
  color: var(--gray-text-medium);
  font-size: 0.83333rem;
}
.dt-hover-box {
  width: var(--content-inner-width);
  box-sizing: border-box;
  margin: auto;
  font-size: 1rem;
  background-color: rgb(250, 250, 250);
  color: var(--gray-text-dark);
  text-align: left;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 1s;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid var(--gray-border);
  padding: 1rem 2rem;
}
.dt-hover-box p,
.dt-hover-box span {
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.citation-wrapper:hover .dt-hover-box {
  visibility: visible;
  opacity: 1;
}


#appendix h2 {
  color: var(--gray-text-medium);
  font-size: 1.125rem;
  text-transform: lowercase;
  font-variant: small-caps;
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

#appendix ul, #appendix ol {
  margin: 0;
}

#appendix section:not(:last-of-type) {
  margin-bottom: 4rem;
}

#appendix section:last-of-type {
  padding-bottom: 4rem;
}

#appendix a,
.citation-wrapper a {
  color: rgba(0, 0, 0, 0.6);
}

#appendix .method-list {
  margin: 0;
}

#appendix .method-list-group {
  border-top: 0px;
}

#appendix .method-list-item:not(:last-of-type) {
  border-bottom: 0px;
}

#appendix .method-list-item {
  margin: 0;
  background-color: transparent;
  padding: 1.4rem 0 3rem 0;
}

#appendix .method-list-item-label {
  font-weight: 540;
}

#appendix .method-list-item-label-details {
  margin-top: 0.3rem;
}

#appendix .method-list-item-label,
#appendix .method-list-item-description {
  line-height: 1.4;
}

#appendix .references ol {
  padding-left: 1.5rem;
}

#appendix .references li {
  line-height: 1.8;
  font-size: 1em;
  padding-top: 1em;
}
#appendix .references ol {
  overflow: hidden;
}

.logo-image {
  max-width: 180px;
  padding-top: 30px;
  padding-bottom: 0px;
}

img.logo-image {
  filter: grayscale(100%);
  opacity: .6;
}

/* BACK TO TOP */
.back-to-top a {
  text-decoration: none;
}

.back-to-top {
  text-align: center;
  padding: 2rem 2.5rem;
}
.back-to-top a,
.back-to-top p {
  text-decoration: none;
  color: var(--gray-text-light);
  font-weight: 600;
  text-transform: lowercase;
  font-variant: small-caps;
  line-height: 1.1;
  margin-top: .1rem;
}
.back-to-top a::before {
  content: '\002191';
  color: var(--gray-text-light);
}
